


.appr-image-cont{
	/*background-color: green;*/
	height:30vw;
	position: relative;
	/*width: 100%;*/
	/*padding-left:10%;*/
}

.appr-image{
	height: 30vw;
	display: inline-block;
	/*margin:auto;*/
	
	
	position:absolute;
	top:50%;
	left:50%;
  transform: translate(-50%, -50%);

}

.appr-textbox{
	/*background-color: yellow;*/
	height:30vw;
	text-align: center;
	color: black;
	/*color:#EF476F;*/
}

.appr-upper-part{
	font-size:2vw;
	border-bottom-width:2px;
	border-bottom-color:#EF476F;

}
.appr-lower-part{
	/*color: gray;*/
}
.appr-page-nav{
	/*background-color: green;*/
	display: inline-block;
	position: relative;
	left:50%;
  transform: translate(-50%,0);
}

.appr-back , .appr-forw{
	color:#EF476F;
	background-color: transparent;
	border-width: 0px;
	display: inline-block;
	position: relative;
	top:8px;
	/*margin:auto;*/

}
.MuiPagination-ul{
	color: #EF476F;
}
.appr-nav{
	color:#EF476F;
	display: inline-block;
	/*margin:auto;*/
}



#appr-quotemark-start{

/*vertical-align: super;*/

color: #621708;
font-size:5vw;
transform: scale(-1, 1);
}

#appr-quotemark-end{

/*vertical-align: sub;*/

color: #621708;
font-size:5vw;
}

.appr-pagination{
	display: inline-block;
	height:20px;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}
.appr-pagination-elem{
background-color: #ff9505;
width:10px;
height:10px;
text-align: center;
color: transparent;
border-radius: 50%;
display: inline-block;
position: relative;
top: 50%;
transform: translate(0,-50%);
margin: 40px 10px 0px 10px;
}
.appr-pagination-elem:hover{
	background-image: linear-gradient(to bottom right,transparent, #e85d04 80%);
}

.appr-pagination-elem-link{
width:10px;
height:10px;
border-radius: 50%;
display: inline-block;
}
.appr-pagination-active{
background-color: #621708;
box-shadow:inset 0 0 2px 1px white;
width:20px;
height:20px;
}
.appr-pagination-active-link{
width:20px;
height:20px;
border-radius: 50%;
display: inline-block;
}
.appr-pagination-prev{
display: none;

}
.appr-pagination-next{
display: none;

}