
#appreciation{
	position: relative;
	margin-bottom: 60px;
}
#testimonials{
	position: relative;
}

.appr-image-cont{
	height:30vw;
	position: relative;
}

.appr-image{
	max-width:30vw;
	max-height: 30vw;
	display: inline-block;
	position:absolute;
	top:50%;
	left:50%;
  transform: translate(-50%, -50%);

}

.appr-textbox{
	height:20vw;
	text-align: center;
	color: black;
/*	position: absolute;
	display: block;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);*/
}

.appr-upper-part{
	font-size:1em;
	border-bottom-width:2px;
	border-bottom-color:#EF476F;

}
.appr-lower-part{
}
.appr-page-nav{
	display: inline-block;
	position: relative;
	left:50%;
  transform: translate(-50%,0);
}

.appr-back , .appr-forw{
	color:#EF476F;
	background-color: transparent;
	border-width: 0px;
	display: inline-block;
	position: relative;
	top:8px;

}
.MuiPagination-ul{
	color: #EF476F;
}
.appr-nav{
	color:#EF476F;
	display: inline-block;
}

.appr-quote{
	font-size:1.3em;
}

#appr-quotemark-start{


color: #621708;
font-size:5vw;
transform: scale(-1, 1);
}

#appr-quotemark-end{


color: #621708;
font-size:5vw;
}

.appr-pagination{
	display: inline-block;
	height:20px;
	/*position: relative;*/
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translate(-50%,0);
}

.appr-correct{
	bottom:80px;
}

.appr-pagination-elem{
background-color: #ff9505;
width:10px;
height:10px;
text-align: center;
color: transparent;
border-radius: 50%;
display: inline-block;
position: relative;
top: 50%;
transform: translate(0,-50%);
margin: 40px 10px 0px 10px;
}
.appr-pagination-elem:hover{
	background-image: linear-gradient(to bottom right,transparent, #e85d04 80%);
}

.appr-pagination-elem-link{
width:10px;
height:10px;
border-radius: 50%;
display: inline-block;
}
.appr-pagination-active{
background-color: #621708;
box-shadow:inset 0 0 2px 1px white;
width:20px;
height:20px;
}
.appr-pagination-active-link{
width:20px;
height:20px;
border-radius: 50%;
display: inline-block;
}
.appr-pagination-prev{
display: none;

}
.appr-pagination-next{
display: none;

}