.section{
	margin-top: 40px;
}

.tile-left{
	width: 50%;
	filter: grayscale(100%);
	float:left;
}
.tile-right{
	width: 50%;
	filter: grayscale(100%);
	float:right;
}

.left{
	width: 50%;
	float:left;
	text-align:right;
	padding-left: 5px;
	padding-top: 8%;
	color : rgba(0,0,0,0);
}
.right{
	width: 50%;
	text-align:left;
	float:right;
	padding-right: 5px;
	padding-top: 8%;
	color : rgba(0,0,0,0);
}
.cell{

}
.cell:hover{
cursor: pointer;
}

.cell:hover >.tile-left{
	filter: grayscale(0%);
}
.cell:hover >.tile-right{
	filter: grayscale(0%);
}
.cell:hover > .left{
	color:rgba(0,0,0,1);
}
.cell:hover > .right{
	color:rgba(0,0,0,1);
}

.team-name{
	font-size:1.5vw;
}

.team-desc{
	font-size: 1vw;
}

@media screen and (max-width: 600px) {
	.tile-left,.tile-right{
		filter:grayscale(0%);
	}
	.left,.right{
		color: rgba(0,0,0,1);
	}
	.team-name{
	font-size:1.3em;
}

.team-desc{
	font-size: 0.7em;
}
}

.bg{
	width:70vw !important;
	margin:auto;
	margin-bottom: 40px;
	background-color: rgba(255,149,5,0.3);
}

