.image{
	height:400px;
	margin:auto;
	display: block;
}
#contact{
}

.cont-right{
	position: relative;
	height: 600px;
	margin-left: 40px;
	width:500px;
}

.details{
	position: absolute;
	bottom:0px;
	background-color: #621708;
	background-image: linear-gradient(to bottom right,transparent, black 80%);
	
	width:100%;
	padding: 10px 0px 10px 20px;
}


.impression{
	font-family: sans-serif;
	font-size:3em;
}

#name,#email{
	outline-width: 0px !important;
	margin: 20px 0px 20px 0px !important;
}

#query {
	margin: 50px 0px 20px 0px !important;

}

.form{
	padding-left: 20px;
	padding-right: 20px;
}

.contact{
	color: white;
}

.social{
	background-color:  rgba(255,149,5,0.3);
	/*color:#621708;*/
	color:black;
	border-radius: 50%;
	height: 15vw;
	width:15vw;
	text-align:center;	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;

	margin:0px 20px 0px 20px;
}

.social:hover{
	background-image: linear-gradient(to bottom right,transparent, #e85d04 80%);
}
.center{
	text-align:center;
}

#icon{

	display: inline-block;
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	font-size: 13vw;
}

#seeuson{
	font-size: 2em;
}

.cont-button{
	font-weight: bold;
	background-color: #ff9505;
	margin-top: 20px;
	border-width: 0px;
	padding: 10px 30px 10px 30px;
}

.cont-button:hover{
	background-image: linear-gradient(to bottom right,transparent, #e85d04 80%);

}