.si-tile{
	height:200px;
	display: block;
	position: relative;
	left:50%;
	transform: translate(-50%,0);
	margin-top:50px;
	margin-bottom:50px;
}
.si-text{
	padding-left:25%;
	padding-right:25%;
	font-size: 1.5em;
	padding-bottom: 50px;
	text-align: center;
	margin-top: 40px;
}

.si-but{
	text-decoration: none;
	background-color: #ff9505;
	color:black;
	font-weight: bold;
	height:50px;
	width:200px;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	border-width: 0px;
}
.si-but:hover{
	text-decoration:none;
	background-image: linear-gradient(to bottom right,transparent, #e85d04 80%);
}