#casestudies{
	margin-bottom: 100px;
	/*background-color:red;*/
	background-image: linear-gradient(to bottom left, white, white,#9BF6FF );
}


.case-image-cont{
	/*background-color: green;*/
	height:300px;
	position: relative;
	display: block;
	/*width: 100%;*/
	/*padding-left:10%;*/
}

.case-image{
	height: 300px;
	/*margin:auto;*/
	
	display: block;
	position:absolute;
	top:50%;
	left:50%;
  transform: translate(-50%, -50%);

}

.case-textbox{
	padding-top: 40px;
	padding-left: 40px;
	/*background-color: yellow;*/
	height:300px;
	text-align: left;
	display: flex;
	/*color:#EF476F;*/
	color:black;
	display: block;
	cursor: pointer;
}

.case-textbox:hover{
	background-color: #FFC6FF;
}

.case-upper-part{
	font-size:4vw;
	border-bottom-width:2px;
	border-bottom-color:#EF476F;
	background-color: #EF476F;
	color : white;
	padding: 10px 200px 0px 20px;
	/*margin: 10px 10px 10px 10px;*/
	display: inline-block;

}

.case-who{
	font-size: 2em;
}

.case-page-nav{
	/*background-color: green;*/
	display: inline-block;
	position: relative;
	left:50%;
  transform: translate(-50%,0);
}

.case-back , .case-forw{
	color:brown;
	background-color: transparent;
	border-width: 0px;
	display: inline-block;
	position: relative;
	top:8px;
	/*margin:auto;*/

}
.MuiPagination-ul{
	color: brown;
}
.case-nav{
	color:brown;
	display: inline-block;
	/*margin:auto;*/
}
