.card {
maxWidth:375;
border-radius:0px !important;
position: relative;
border-width: 0px;
z-index: 1;
}

.card:hover{
	background-color:  #ccffcc !important;
}

.card:active{
	background-color: brown;
}

.card-media {
	/*position: absolute;*/
	/*top:0px;*/
}
.section{
	border-color: brown;
	border-width: 3px;
	border-left-style: solid;
	padding-left: 10px;
}

#card-icon{
	color: brown;
	font-size:3vw;
	position: relative;
	left:90%;
}

#work{
	margin-top: 40px;
}

CardActions{

}