.don-intro{
	display: inline-block;
	font-size:3em; 
	text-align: center;
	color: white;
	background-color:#621708;
	background-image: linear-gradient(to bottom right,transparent, black 80%);
	padding: 10px 30px 10px 30px;
	margin-bottom: 50px;
}

.don-bg{
	/*background-color:#FDFFB6;*/
	height:100%;
}

.don-desc{
/*text-align: center;*/
font-size:1.5em;
/*float: left;*/
}

.don-img{
	max-width:40vw;
}

.don-but{
	background-color:  rgba(255,149,5,0.3) !important;
	padding: 10px 30px 10px 30px;
	border-width: 0px;
	margin: 20px 40px 20px 40px;
	width:400px;
}
.pm-button{
	margin: 20px 40px 20px 40px;

}
.don-but1{
	position: relative;
}
.don-but2{

}
.don-but:hover{
	background-image: linear-gradient(to bottom right,transparent, #e85d04 80%);
}

.don-dialog{
	text-align: center;
	padding: 30px 50px 30px 50px;
	border-radius: 0px !important;
	background-color: transparent !important;
}
.don-dia-title{
	margin-top:10%;
	font-size: 2em;
}