.waw-tile{
	height:200px;
	display: inline-block;
	position: relative;
	left:50%;
	transform: translate(-50%,0);
	margin-top:50px;
	margin-bottom:50px;
}
.waw-text{
	padding-left:25%;
	padding-right:25%;
	font-size: 1.5em;
	padding-bottom: 50px;
	text-align: center;

}

.waw-but{
	
}