#news{
	margin-top: 50px;
	margin-bottom: 50px;
	min-height: 700px;
	position: relative;
	/*background-color: red;*/
}
.news-card-width{
maxWidth:150px;
width:200px;
}
/*,#BDB2FF*/
.news-bg{

	background-image: linear-gradient(to bottom, #9BF6FF ,white);
	min-height: 700px;
}