.logo{
	height: 40vmin;
	
}

.document{
	margin: 0px 0px 0px 0px ;
	padding-left:20px ;
	padding-right:20px;
}

.menu{
	border-top: 5px;
	border-color: brown;
	border-top-style: solid;
	background-color:  #ccffcc;
}


