.logo{
	height: 40vmin;
	margin-bottom: 20px;
}
.logo-text{
	/*height: 40vmin;*/
	/*padding: 0px 0px 40px 0px;*/
	/*margin-bottom: 40px;*/
	font-family: 'Fredericka the Great', Roboto, sans-serif;
	font-size: 24vmin;
	color:#EF476F;
	position: absolute;
	left:50%;
	transform: translate(-50%,0);
	display: inline-block;
	/*background-color: red;*/
	text-align: center;
}
.logo-text-caption{
font-size:24px;
font-family: Montserrat, sans-serif;

}

.document{
	margin: 0px 0px 0px 0px ;
	padding-left:20px ;
	padding-right:20px;
	font-family: Montserrat,sans-serif;
}

.menu{
	border-top: 5px;
	border-color: #EF476F;
	border-top-style: solid;
	/*background-color:  #9BF6FF;*/
	 background-image: linear-gradient(to bottom right, #9BF6FF , #BDB2FF);
	top:0;
	padding: 0px 0px 0px 0px !important;
	position: sticky;
	top: 0px;
}
.menu-item{
	color:white !important;
}


.right-1{
	background-color: #EF476F;
	color : white !important;
	/*width:100px;*/

}

.right-0{
	background-color: #06D6A0;
	color : white !important;
	font-weight: 400;
}

.menu-item:hover{
	background-color: #FFC6FF;
	color:white !important;
}
.right-1:hover,.right-0:hover{
	background-color: black;
}